---
 const personalImageAlt = "Robert Griman"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
      <p>
      Soy <strong>Robert Griman</strong>, desarrollador frontend especializado en <strong>React</strong> y <strong>JavaScript</strong>. Me apasiona crear interfaces dinámicas con código limpio y componentes reutilizables que ofrezcan experiencias de usuario excepcionales.
    </p>

    <p>
      Domino el ecosistema frontend moderno, desde <strong>maquetación responsive con HTML/CSS</strong> hasta el desarrollo de <strong>SPAs con React</strong>. Mis proyectos demuestran capacidad para implementar <strong>gestión de estado</strong>, <strong>consumo de APIs</strong> y <strong>optimización de performance</strong>.
    </p>

    <p>
      Actualmente enfocado en profundizar en <strong>patrones de diseño avanzados</strong> y <strong>arquitecturas escalables</strong>. Mi objetivo es contribuir a proyectos desafiantes donde pueda aplicar mis habilidades mientras continúo creciendo profesionalmente en el desarrollo frontend.
    </p>
  </div>

  <img width="200" height="200" src="/Imagen de WhatsApp 2025-08-04 a las 11.57.57_30e45bed.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

